.wrapper-class {
    padding: 1rem;
    border: 1px solid #ccc;
    /* width: 800px;
    height: 700px; */
  }
  .editor-class {
    background-color: white;
    padding: 1rem;
    border: 1px solid #ccc;
    min-height: 1000px;
  }
  .toolbar-class {
    border: 1px solid #ccc;
  }
  
  /* give color to dropdown options */
  
  /* .rdw-suggestion-dropdown {
    border: 1px solid red;
    background-color: #2f6fed;
  }
  .rdw-suggestion-option {
    background-color: green;
  } */
  